@page
@model EventPlanner.Pages.Registros.IndexModel
@{
}

<div class="container mt-4">
    <h1 class="text-center text-primary">Registros</h1>

    <div class="d-flex justify-content-between mb-3">
        <a asp-page="Create" class="btn btn-outline-primary btn-lg">
            <i class="bi bi-plus-circle"></i> Crear nuevo registro
        </a>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Registros[0].IdEvento)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Registros[0].IdParticipante)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Registros[0].FechaRegistro)
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Registros)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdEvento)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdParticipante)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>
                    <td>
                        <a asp-page="./Editar" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i> Editar
                        </a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>